<mat-form-field appearance="fill" class="input-amount-container">
  <input matInput  [formControl]="amountProducstAdded" [(ngModel)]="amountProduct.amount"  (keyup)="sendAmountProducts()" value="0">
  <mat-error *ngIf="amountProducstAdded.touched && amountProducstAdded.errors?.pattern">
    Este campo solo puede ser numérico
  </mat-error>
  <mat-error *ngIf="amountProducstAdded.touched && amountProducstAdded.errors?.maxlength">
    La dígitos máximo permitidos es 4
  </mat-error>
</mat-form-field>
