table {
    width: 100%;

    .price-housting {
        width: 20%;
    }
    .money-paid {
        width: 20%;
    }
    .late-applied {
        width: 40%;
    }
    .payment-to-complete {
        width: 20%;
    }
}
