<div>
    <div>Costo del alojamiento</div>

    <!-- [housting]: converting housting to array-->
    <table mat-table [dataSource]="[housting]" class="table">
        <div>
            <ng-container matColumnDef="TotalPrice">
                <th mat-header-cell *matHeaderCellDef class="price-housting">Costo calculado</th>
                <td mat-cell *matCellDef="let element">S/. {{ element.price }}</td>
            </ng-container>

            <ng-container matColumnDef="MoneyPaid">
                <th mat-header-cell *matHeaderCellDef class="money-paid">Dinero pagado</th>
                <td mat-cell *matCellDef="let element">S/. {{ element.moneyPaid }}</td>
            </ng-container>

            <ng-container matColumnDef="LateApplied">
                <th mat-header-cell *matHeaderCellDef class="late-applied">Tardanza aplicada</th>
                <td mat-cell *matCellDef="let element">
                    <app-input-late-applied (lateApplied)="obtainLateApplied($event)"></app-input-late-applied>
                </td>
            </ng-container>
            CompletePayment

            <ng-container matColumnDef="CompletePayment">
                <th mat-header-cell *matHeaderCellDef class="payment-to-complete">/</th>
                <td mat-cell *matCellDef="let element">S/. {{ paymentToComplete }}</td>
            </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="columnsHousting"></tr>
        <tr class="rowOpenerCategories" mat-row *matRowDef="let row; columns: columnsHousting"></tr>
    </table>
</div>
