<mat-form-field [style.width.%]="27">
    <input matInput [formControl]="lateAppliedData" [(ngModel)]="late" (keyup)="sendLateApplied()" value="0" />
    <mat-error *ngIf="lateAppliedData.touched && lateAppliedData.errors?.required"> Este campo es requerido </mat-error>
    <mat-error *ngIf="lateAppliedData.touched && lateAppliedData.errors?.pattern">
        Este campo solo puede ser numérico
    </mat-error>
    <mat-error *ngIf="lateAppliedData.touched && lateAppliedData.errors?.maxlength">
        La dígitos máximo permitidos es 4
    </mat-error>
</mat-form-field>
