.container-add-product {
  display: flex;
  justify-content: space-between;
  height: 38px;
  padding: 8px;
  background-color: rgb(11, 11, 100);
  border-radius: 3px;

  .input-state-sale {
    margin-left: 2%;
    margin-right: 44%;
  }
}
div.total-price-container {
  display: flex;

  div.total-title {
    margin-left: 54%;
  }
  div.total-number {
    margin-left: 9%;
  }
}
