.container-buttons-and-dropdown {
    background-color: #e1e3e4;
    // border-radius: 5px;
    display: flex;
    padding: 8px;
    margin-top: 6px;
    app-add-products-button {
        width: 18%;
    }
    app-finish-sale-button {
        width: 82%;
    }
}
