div.container-data-housting{
  display: flex;
  justify-content: space-between;
  
  mat-card{
    width:30%;
    mat-list{
      mat-list-item{
        div.item{
          display: flex; 
          width: 100%;
          justify-content: space-between; 
        }
        
      }
    }
  }
}