table.table {
    .number {
        width: 8%;
    }
    .name-room {
        width: 10%;
    }
    .category {
        width: 12%;
    }
    .price {
        width: 14%;
    }
    .details {
        width: 22%;
        td {
            padding-left: 25px;
        }
    }
}
