div.container-rooms {
    width: 99%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    grid-template-rows: 1fr;
    text-align: center;

    mat-card.card {
        margin: 5px;
        cursor: pointer;

        div.room-image {
            display: inline-flex;
            height: 85%;
            flex-direction: row;
            text-align: center;

            div.bed-svg {
                width: 65%;
                svg {
                    width: 100%;
                }
            }
            div.info-room {
                width: 35%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                div.number-bed {
                    font-size: 300%;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
                div.category-bed {
                    font-weight: 500;
                }
            }
        }
        mat-card-content {
            display: flex;
            div.room-condition {
                width: 90%;
                font-size: 1.3em;
            }
        }
    }
}
