table.table {
    width: 100%;
    th.number {
        width: 8%;
    }
    th.name-room {
        width: 10%;
    }
    th.money-paid {
        width: 10%;
    }
    th.price {
        width: 10%;
    }
    th.total {
        width: 10%;
    }
    th.entry-date {
        width: 12%;
    }
    th.entry-time {
        width: 12%;
    }
    th.output-date {
        width: 12%;
    }
    th.output-time {
        width: 12%;
    }
}
