table.table {
    width: 100%;
    th.number {
        width: 8%;
    }
    th.name-room {
        width: 10%;
    }
    th.product {
        width: 20%;
    }
    th.amount {
        width: 10%;
    }
    th.price {
        width: 10%;
    }
    th.toyal {
        width: 12%;
    }
    th.sale-date {
        width: 15%;
    }
    th.sale-time {
        width: 15%;
    }
}
