<mat-card>
    <div class="container-data-room">
        <div class="box-data-1">
            <p>Nombre: {{ room.name }}</p>
            <p>Categoría: {{ room.category.category }}</p>
        </div>
        <div class="box-data-2">
            <p>Detalles: {{ room.details }}</p>
            <p>Condición: {{ room.condition.nameCondition }}</p>
        </div>

        <div>
            <div>Precio: S/. {{ room.price }}</div>
        </div>
    </div>
</mat-card>

<div>Costo del alojamiento</div>
<table mat-table [dataSource]="housting" class="table">
    <div>
        <ng-container matColumnDef="TotalPrice">
            <th mat-header-cell *matHeaderCellDef class="number number-room">Costo calculado</th>
            <td mat-cell *matCellDef="let element">S/. {{ element.price }}</td>
        </ng-container>

        <ng-container matColumnDef="MoneyPaid">
            <th mat-header-cell *matHeaderCellDef class="category">Dinero pagado</th>
            <td mat-cell *matCellDef="let element">S/. {{ element.moneyPaid }}</td>
        </ng-container>

        <ng-container matColumnDef="LateApplied">
            <th mat-header-cell *matHeaderCellDef class="category">Tardanza aplicada</th>
            <td mat-cell *matCellDef="let element">nada</td>
        </ng-container>
        CompletePayment

        <ng-container matColumnDef="CompletePayment">
            <th mat-header-cell *matHeaderCellDef class="category">/</th>
            <td mat-cell *matCellDef="let element">S/. {{ element.price - element.moneyPaid }}</td>
        </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="columnsHousting"></tr>
    <tr class="rowOpenerCategories" mat-row *matRowDef="let row; columns: columnsHousting"></tr>
</table>

<div *ngIf="housting">
    <app-product-saled-report [houstingId]="housting[0].id"></app-product-saled-report>
    <app-total-housting-report [houstingId]="housting[0].id"></app-total-housting-report>
</div>
