div {
    table {
        width: 100%;
        /* th.id {
            width: 10%;
        }
        th.surnames {
            width: 10%;
        }
        th.names {
            width: 10%;
        } */
    }
}
