/* drawer */
mat-drawer-container {
    width: 100%;
    height: 100vh;
    border: 1px solid #555;
    //background-color: #18191a;

    mat-drawer {
        width: 20%;
        background-color: #404952;

        div.container-icon-hotel {
            display: flex;
            justify-content: space-between;
            color: rgb(243, 236, 236);
            // background-color: rgb(70, 69, 69);
            height: 55px;

            div.icon-hotel {
                width: 40%;
            }
            div.name-hotel {
                width: 60%;
                height: 55px;
                line-height: 55px;
                font-size: 28px;
                font-weight: 800;
            }
        }
        mat-tree {
            background-color: #404952;

            .leaves {
                // padding-left: 19px;

                mat-icon {
                    margin-right: 6px;
                }
            }

            div.mat-tree-node {
                mat-icon.mat-icon-send {
                    // margin-left: 18px;
                }
                div.node-name {
                    width: 72%;
                    margin-left: 9px;
                }
            }
            div.mat-tree-node:hover {
                background-color: rgb(8, 8, 204);
            }
            .leaves,
            div.mat-tree-node {
                width: 90%;
                margin: 0 auto;
                color: aliceblue;
                padding: 4px;
                border-radius: 5px;
                cursor: pointer;
            }
            .leaves:hover,
            div.mat-tree-node:hover {
                color: #254552;
                background-color: #f6f7fb;
            }
        }
    }
    mat-drawer-content {
        padding: 1%;
    }

    /* tree */
    .example-tree-invisible {
        display: none;
    }

    .example-tree ul,
    .example-tree li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }

    /*
       * This padding sets alignment of the nested nodes.
       */
    .example-tree .mat-nested-tree-node div[role='group'] {
        padding-left: 30px;
    }

    /*
       * Padding for leaf nodes.
       * Leaf nodes need to have padding so as to align with other non-leaf nodes
       * under the same parent.
       */
    .example-tree div[role='group'] > .mat-tree-node {
        padding-left: 30px;
    }
}

/* ========================================= tree of angular material */
