<h2 class="title">Datos de la habitación</h2>
<mat-card>
    <div class="container-data-room">
        <div class="box-data-1">
            <p>Nombre: {{ roomData.name }}</p>
            <p>Categoría: {{ roomData.category.category }}</p>
        </div>
        <div class="box-data-2">
            <p>Detalles: {{ roomData.details }}</p>
            <p>Condición: {{ roomData.condition.nameCondition }}</p>
        </div>

        <div>
            <div>Precio: S/. {{ roomData.price }}</div>
        </div>
    </div>
</mat-card>
