<div class="container-mode-reception">
    <app-data-room [roomData]="data"></app-data-room>

    <mat-card class="housting-forms">
        <!-- component shared from clients module -->
        <app-form-client #DATA_CLIENT></app-form-client>
        <div class="app-data-housting-and-buttons">
            <app-form-input-housting [room]="data" #DATA_HOUSTING></app-form-input-housting>

            <app-button-create-housting (confirmed)="createHoustinConfirmed($event)"></app-button-create-housting>
        </div>
    </mat-card>
</div>
