table.table {
  .number {
    width: 8%;
  }
  .name-room {
    width: 12%;
  }
  .category {
    width: 12%;
  }
  .price {
    width: 12%;
  }
  /* .edit-buttons {
      width: 10%;
    }
    .remove-buttons {
      width: 10%;
    } */
}
