table {
    width: 100%;
    .number {
        width: 7%;
    }
}
span {
    padding: 6px;
    border-radius: 4px;
    color: white;
}
span.open {
    background-color: rgb(24, 24, 177);
}
span.closed {
    background-color: rgb(27, 100, 12);
}
