mat-card {
    width: 30%;
    margin: 0 auto;

    mat-card-header {
        padding: 0;
        justify-content: center;
    }

    mat-card-content form div.buttons {
        justify-content: center;
        button {
            width: 100%;
        }
    }
}
