<!-- <div >
    <div>APERTURA DE CAJA</div>
    

</div>
 -->
<mat-card class="open-cash-card">
    <mat-card-header>
        <div>APERTURA DE CAJA</div>
    </mat-card-header>
    <mat-card-content>
        <form #formCash [formGroup]="cashData" (ngSubmit)="saveCash(formCash)" class="form-container">

            <div class="input">
                <div class="">
                    <mat-form-field [style.width.%]="100">
                        <input formControlName="date" matInput placeholder="Fecha" [(ngModel)]="cash.date" required>
                    </mat-form-field>
                </div>


            </div>
            <div class="input">
                <div class="">
                    <mat-form-field [style.width.%]="100">
                        <input formControlName="openingMoney" matInput placeholder="Monto de apertura"
                            [(ngModel)]="cash.openingMoney" required>
                        <mat-error
                            *ngIf="cashControl.openingMoney.touched && cashControl.openingMoney.errors?.required">
                            El monto para esta caja es requerido
                        </mat-error>

                        <mat-error *ngIf="cashControl.openingMoney.touched && cashControl.openingMoney.errors?.pattern">
                            Este campo solo permite dígitos
                        </mat-error>

                        <mat-error
                            *ngIf="cashControl.openingMoney.touched && cashControl.openingMoney.errors?.maxlength">
                            Este campo solo permite 5 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>


            </div>


            <div class="buttons">
                <button mat-raised-button mat-dialog-close color="accent" class="cancel">Cancelar</button>
                <button type="submit" mat-raised-button color="primary" [disabled]="cashData.invalid">Guardar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>