<!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
 -->

<form [formGroup]="formGroupKeyword">
    <mat-form-field style="width: 100%">
        <mat-label> Buscar </mat-label>

        <input formControlName="keyword" matInput type="text" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let element of dataFiltered" (click)="dataSelected(element)">
                {{ element.dni }} / {{ element.names }} {{ element.surnames }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
