<mat-form-field appearance="fill" class="angular-material-select">
    <mat-label>Nivel de la habitación</mat-label>
    <mat-select #selectLevel [formControl]="controlLevelSelected"
        (selectionChange)="sendLevelSelected(selectLevel.value)" required>
        <mat-option *ngFor="let level of levels" [value]="level.id">
            {{level.number}} - {{level.name}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="controlLevelSelected.hasError('required')">Selecciona un nivel</mat-error>
</mat-form-field>