/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//for tables
table.table {
  .number {
    width: 12%;
  }
  .edit-buttons {
    width: 10%;
  }
  .remove-buttons {
    width: 10%;
  }
}

/* buttons to update and cancel */
div.buttons {
  display: flex;
  justify-content: space-between;
}

/* selects */
.angular-material-select {
  width: 100%;
}

//to remove space granted by default
.mat-card-header-text {
  margin: 0px 0px 0px 0px !important;
}
