<div *ngIf="housting">
    <mat-card>
        <div class="container-data-room">
            <div class="box-data-1">
                <p>Nombre habitación: {{ room.name }}</p>
                <p>Categoría: {{ room.category.category }}</p>
            </div>
            <div class="box-data-2">
                <p>Detalles: {{ room.details }}</p>
                <p>Condición: {{ room.condition.nameCondition }}</p>
            </div>

            <div>
                <div>Precio: S/. {{ room.price }}</div>
            </div>
        </div>

        <div class="container-data-room">
            <div class="box-data-1">
                <p>Nombre del cliente: {{ housting.client.names }}</p>
                <p>Apellidos del cliente: {{ housting.client.surnames }}</p>
            </div>
            <div class="box-data-2">
                <p>DNI: {{ housting.client.dni }}</p>
                <p>Razón de visita: {{ housting.client.visitReason }}</p>
            </div>
        </div>

        <div class="container-data-room">
            <div class="box-data-1">
                <p>Fecha de entrada: {{ housting.entryDate }}</p>
                <p>Hora de entrada: {{ housting.entryTime }}</p>
                <p>Tiempo de hospedamiento: 000000000</p>
            </div>
        </div>
    </mat-card>
</div>
