table {
    width: 100%;
    .name-product {
        width: 20%;
    }
    .price {
        width: 20%;
    }
    .amount {
        width: 20%;
    }
    .state {
        width: 20%;
    }
    .total-price {
        width: 20%;
    }
}
