<div>Productos vendidos</div>
<table mat-table [dataSource]="productsSaled" class="table">
    <div>
        <ng-container matColumnDef="NameProduct">
            <th mat-header-cell *matHeaderCellDef class="name-product">N. producto</th>
            <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
        </ng-container>

        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef class="price">Price unitario</th>
            <td mat-cell *matCellDef="let element">S/. {{ element.product.price }}</td>
        </ng-container>

        <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef class="amount">Cantidad</th>
            <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef class="state">Estado</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.payed">PAGADO</div>
                <div *ngIf="!element.payed">SIN PAGAR</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="TotalPrice">
            <th mat-header-cell *matHeaderCellDef class="total-price">/</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!element.payed">S/. {{ element.totalPrice }}</div>
                <div *ngIf="element.payed">S/. 0</div>
            </td>
        </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="columnsProductsSaled"></tr>
    <tr class="rowOpenerCategories" mat-row *matRowDef="let row; columns: columnsProductsSaled"></tr>
</table>
