<form #formRoomCategory [formGroup]="roomCategoryData" (ngSubmit)="saveHotelLevel(formRoomCategory)"
    class="form-container">
    <!-- <mat-card-title>Abridor</mat-card-title> -->


    <div class="input">
        <div class="">
            <mat-form-field [style.width.%]="100">
                <input formControlName="nameCategory" matInput placeholder="Nombre de la categoría"
                    [(ngModel)]="roomCategory.nameCategory" required>
                <mat-error
                    *ngIf="roomCategoryControl.nameCategory.touched && roomCategoryControl.nameCategory.errors?.required">
                    Ingresa un nombre para esta categoría
                </mat-error>

                <mat-error
                    *ngIf="roomCategoryControl.nameCategory.touched && roomCategoryControl.nameCategory.errors?.pattern">
                    Este campo solo permite caracteres alfanuméricos
                </mat-error>

                <mat-error
                    *ngIf="roomCategoryControl.nameCategory.touched && roomCategoryControl.nameCategory.errors?.maxlength">
                    Este campo solo permite 50 caracteres
                </mat-error>
            </mat-form-field>
        </div>


    </div>

    <div class="input">
        <div class="">
            <mat-form-field [style.width.%]="100">
                <input formControlName="price" matInput placeholder="Precio" [(ngModel)]="roomCategory.price" required>
                <mat-error *ngIf="roomCategoryControl.price.touched && roomCategoryControl.price.errors?.required">
                    Ingresa un precio para esta categoría
                </mat-error>

                <mat-error *ngIf="roomCategoryControl.price.touched && roomCategoryControl.price.errors?.pattern">
                    El precio solo puede ser numérico
                </mat-error>

                <mat-error *ngIf="roomCategoryControl.price.touched && roomCategoryControl.price.errors?.maxlength">
                    La candidad máxima de dígitos permitida es 4
                </mat-error>
            </mat-form-field>
        </div>

    </div>

    <div class="buttons">
        <button mat-raised-button mat-dialog-close color="accent" class="cancel">Cancelar</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="roomCategoryData.invalid"
            [mat-dialog-close]="true">Guardar</button>
    </div>
</form>