<div class="mainContainer">
    <h2>Iniciar sesion</h2>

    <form #formUser="ngForm" [formGroup]="userData" (ngSubmit)="loginUser(formUser)">
        <div class="container boxEmailNumber">
            <input type="text" placeholder="Email" name="email" formControlName="email">
            <svg fill="currentColor" width="16px" height="16px" viewBox="0 0 24 24"
                [style.visibility]="userForm.email.touched && !userForm.email.valid ? 'visible': 'hidden' ">
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                </path>
            </svg>
        </div>

        <div class="container boxPassword">
            <input type="password" placeholder="Contraseña" name="password" formControlName="password">
            <svg fill="currentColor" width="16px" height="16px" viewBox="0 0 24 24"
                [style.visibility]="userForm.password.touched && !userForm.password.valid ? 'visible': 'hidden' ">
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
                </path>
            </svg>
        </div>

        <div class="container boxButton">
            <input type="submit" value="Iniciar" [disabled]="!formUser.form.valid">

        </div>

    </form>

    <div class="boxRegisterButton">
        <a [routerLink]="['/registro']">Registrarse</a>
    </div>

</div>